	</div>
	</div>
	</div>

	</div>
	
	{% include "admin/notifications.html" %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.0/morris.min.js"></script>
	<script src="/js/select2.min.js"></script>
	<script src="/js/jquery.scrollintoview.min.js"></script>
	<script src="/js/jquery.textrange.js"></script>
	<script src="/js/datepicker.min.js"></script>
	<script src="/js/admscripts.js"></script>
	
</body>

</html>