{% include "header.html" %}
<div class="container">
  
  {% include "navbar.html" %}

  <div class="row">
  	<div class="col_12 col_md_7 contact_us_left">По всем вопросам связаным с кэшбэк-сервисом {{configs.siteName}} обращайтесь на почту нашей технической поддержки:<br><br><a href="mailto:{{configs.supportMail}}"><img src="/img/message_icon.png"> {{configs.supportMail}}</a></div>
  	<div class="col_12 col_md_5 contact_us_right"><img src="/img/contact_us_icon.png"></div>
  </div>
  
</div>
{% include "footer.html" %}