{% include "header.html" %}

<div class="container">

  {% include "navbar.html" %}

  <div class="faq">

	<div class="toggle_list">
		<div class="toggle_title ">
			<h3>
			<i></i>
			<span class="title_name">Что такое кэшбэк?</span>
			</h3>
		</div>
		<div class="toggle_inner">
			<p>Кэшбэк – возврат части денег, потраченных при покупке товаров или услуг в интернет-магазинах.</p>
		</div>
	</div>
	<div class="toggle_list">
		<div class="toggle_title ">
			<h3>
			<i></i>
			<span class="title_name">Откуда берётся кэшбэк?</span>
			</h3>
		</div>
		<div class="toggle_inner">
			<p>Магазин, на катором сделана покупка, выплачивает нам комиссионные за то, что привели им покупателя, а мы начисляем часть этой суммы вам.</p>
		</div>
	</div>
	<div class="toggle_list">
		<div class="toggle_title ">
			<h3>
			<i></i>
			<span class="title_name">Как правильно покупать и получать кэшбэк?</span>
			</h3>
		</div>
		<div class="toggle_inner">
			<p>Для получения кэшбэка <strong>обязательно авторизуйтесь</strong> на {{configs.siteName}} и <strong>обязательно переходите на сайт магазина нажимая на кнопку «Купить с кэшбэком»</strong>. За прямые покупки кэшбэк не начисляется.<br><br>
			Начисление кэшбэка — технически сложный процесс, в котором задействован покупатель, несколько компаний и ряд компьютерных программ, чувствительных к порядку действий, выполняемых при оформлении заказа. Поэтому для покупок с кэшбэком лучше использовать «чистый» браузер, в котором ничего не установлено.<br><br>
			При использовании скидок, купонов и промокодов не с нашего сайта интернет-магазины отклоняют начисление вознаграждения, из которого выплачивается кэшбэк. Чтобы интернет-магазины начисляли вознаграждение, из которого выплачивается кэшбэк, не оформляйте заказ через их мобильные приложения. И обратите внимание, что вознаграждение, из которого выплачивается кэшбэк, начисляется только на товары, добавленные в корзину ПОСЛЕ перехода с сайта {{configs.siteName}}.<br><br>
			Обратите внимание, что магазин не начисляет вознаграждение, из которого выплачивается кэшбэк, при оформлении и оплате заказа юридическими лицами (организациями и предприятиями).</p>
		</div>
	</div>
	<div class="toggle_list">
		<div class="toggle_title ">
			<h3>
			<i></i>
			<span class="title_name">Какова минимальная сумма вывода?</span>
			</h3>
		</div>
		<div class="toggle_inner">
			<p>Минимальная сумма для вывода составляет {{configs.minPayout}} {{langs.currency_d}} {{langs.or}} {{configs.minPayout_r}} {{langs.currency_r}}</p>
		</div>
	</div>
	<div class="toggle_list">
		<div class="toggle_title ">
			<h3>
			<i></i>
			<span class="title_name">Как долго ждать подтверждения кешбэка?</span>
			</h3>
		</div>
		<div class="toggle_inner">
			<p>Подтверждение кешбэка происходит после передачи информации от интернет-магазина о получении товара покупателем или завершении заказа. {{configs.siteName}} не может повлиять на скорость подтверждения кешбэка.
			<br>Средний и максимальный срок подтверждения кешбэка вы можете узнать на странице интересующего вас магазина.</p>
		</div>
	</div>
	
  </div>
</div>
{% include "footer.html" %}