{% include "header.html" %}
<div class="container">
  
  {% include "navbar.html" %}

  <div class="howitworks">
	  <div class="row">
		<div class="col_12 col_sm_10 howitworks_cont">
		<h3>Что такое кэшбэк?</h3>
		Кэшбэк – возврат части денег, потраченных в интернет-магазинах. У каждого магазина свои условия. Одни возвращает процент от покупки, а другие фиксированную сумму. Покупать в интернет-магазинах так же легко, как и раньше, но теперь еще и гораздо дешевле.
		</div>
		<div class="col_12 col_sm_2"><img src="/img/howitworks_1.png"></div>
	  </div>
	  <div class="row">
	  	<div class="col_12 col_sm_3"><img src="/img/howitworks_2.png"></div>
		<div class="col_12 col_sm_9 howitworks_cont">
		<h3>Как работает кэшбэк?</h3>
		<ul>
			<li>Зарегистрируясь на {{configs.siteName}} вы получаете свой личный кабинет.</li>
			<li>После чего выбираете из списка необходимый магазин и переходите в него.</li>
			<li>Вы делаете покупку и выплачиваете магазину розничную стоимость товара.</li>
			<li>Магазин выплачивает нам комиссионные за то, что привели им покупателя.</li>
			<li>Мы начисляем часть этой суммы Вам.</li>
		</ul>
		</div>
	  </div>
	  <div class="row">
		<div class="col_12 col_sm_9 howitworks_cont">
		<strong>Кэшбэк начисляется за каждую покупку, но для этого требуется соблюдение всех условий:</strong><br>
		<ul>
			<li>Всегда переходить на сайт магазина нажимая на кнопку «Купить с кэшбэком» – за прямые покупки деньги не возвращаются.</li>
			<li>Как можно быстрее получать и оплачивать товар в пункте выдачи и подтверждать доставку в личном кабинете. Это ускорит начисление кэшбэка.</li>
			<li>Делать покупки только онлайн. Заказы по телефону не учитываются.</li>
			<li>Не отказываться от заказа даже частично – деньги начисляются только за выкупленные позиции, стоимость возвращенных товаров вычитается.</li>
		</ul>
		</div>
		<div class="col_12 col_sm_3"><img src="/img/howitworks_3.png"></div>
	  </div>
  </div>
</div>
{% include "footer.html" %}