      <div class="row profile_balance">
        <div class="row profile_balance_1">
          <div class="pbalance_l"></div>
          <div class="pbalance_r">{{langs.profile_balance}}<br><strong class="pbr_first">{{user.money.toFixed(2)}} $</strong><strong>{{user.money_r.toFixed(2)}} {{langs.currency_r}}</strong></div>
        </div>
        <div class="row profile_balance_2">
          <div class="pbalance_l"></div>
          <div class="pbalance_r">{{langs.profile_hold}}<br><strong class="pbr_first">{{user.hold.toFixed(2)}} $</strong><strong>{{user.hold_r.toFixed(2)}} {{langs.currency_r}}</strong></div>
        </div>
      </div>